# dependencies
/node_modules
/website/node_modules

## docs
/website/i18n
/website/build

# production


# jest
/coverage

examples/src/index.js

# misc
.DS_Store
.env

**/*.d.ts

package-lock.json
src/utils.js
examples/src/data.js
src/Dropzone.js
src/Input.js
src/Layout.js
src/Preview.js
src/SubmitButton.js
